<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464985096798-9l6pf1389sg6u3p4q0l7m3rs62jvpl92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464985096798-9l6pf1389sg6u3p4q0l7m3rs62jvpl92</string>
	<key>API_KEY</key>
	<string>AIzaSyCTIMVqTn1m7qPtsEKIzykMAmzCrg7dYYE</string>
	<key>GCM_SENDER_ID</key>
	<string>464985096798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vieyra01.IACD-EducationApp-StudentPortal</string>
	<key>PROJECT_ID</key>
	<string>iacdioseducationportaljcm</string>
	<key>STORAGE_BUCKET</key>
	<string>iacdioseducationportaljcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464985096798:ios:f4b1cd70081d2e14cb6acf</string>
</dict>
</plist>